<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>{{ student.name }}</title>
</head>

<body>
    <div class="container">
        <h2>{{ student.name }}</h1>
        <h4>Moyenne générale: {{ student.average }}</h4>
        <h4>Diplôme:
        {% if student.graduated %}
            <span class="text-success">OUI</span>
        {% else %}
            <span class="text-danger">NON</span>
        {% endif %}</h4>
        {% for section in student.sections.computing, student.sections.other %}
        <table class="table text-center mt-4">
            <thead>
                <tr>
                    {% for label in section.labels %}
                    <th>{{ label }}</th>
                    {% endfor %}
                    <th>Moyenne</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for note in section.grades %}
                    <td>{{ note }}</td>
                    {% endfor %}
                    <td></td>
                </tr>
                <tr>
                    {% for note in section.final_grades %}
                    <td>{{ note }}</td>
                    {% endfor %}
                    <td>{{ section.average }}</td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>