{% extends "base.html" %}
{% block main %}
<h2>{{ student.name }}</h2>
<h4>Moyenne générale: {{ student.average }}</h4>
<h4>Diplôme:
    {% if student.graduated %}
    <span class="text-success">OUI</span>
    {% else %}
    <span class="text-danger">NON</span>
    {% endif %}
</h4>
{% for section in student.sections.computing, student.sections.other %}
<table class="table text-center mt-4">
    <thead>
        <tr>
            {% for label in section.labels %}
            <th>{{ label }}</th>
            {% endfor %}
            <th>Moyenne</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for note in section.grades %}
            <td>{{ note }}</td>
            {% endfor %}
            <td></td>
        </tr>
        <tr>
            {% for note in section.final_grades %}
            <td>{{ note }}</td>
            {% endfor %}
            <td>{{ section.average }}</td>
        </tr>
    </tbody>
</table>
{% endfor %}
{% endblock %}